body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* background */
.main-container {
  background: #35363a;
}

/* styling the main container for the contact */
.main-contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact heading */
h1 {
  text-align: center;
  margin: 0;
}

/* input for the submit button */
input {
  width: 400px;
}

form {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

textarea {
  outline: none;
  resize: none;
  width: 502px;
  height: 200px;
}

/* centering the image */
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  height: 100vh;
}

/* navbar styling */

.navbar a {
  color: white;
}

/* form styling */

form input {
  height: 30px;
  width: 500px;
}
